.container {
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    background-color: #e5e5e5;
    overflow: hidden;
    height: 60px;
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
}

svg {
    display: block;
    margin: auto;
    transition: 200ms ease-in-out;
}

.seleccionado {
    background-color: var(--color-primary);
}