.barra-busqueda {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: var(--color-primary-claro);
    border-radius: 25px;
    margin: 20px 10%;
    padding: 5px 10px;
    & input {
        width: 100%;
        background-color: unset;
        border: unset;
        font-size: large;
        &:focus {
            outline: none;
        }
    }
}

.filtros-container {
    display: flex;
    justify-content: space-evenly;
}

.apto-container {
    display: flex;
    align-items: center;
    height: 25px;
}

img {
    height: 100%;
}

.container-producto {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* =========== loader ================== */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #e8b0e1;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 